# I/ Load Packages & files

### I/ a. Load Packages

In [3]:
# load & install packages 

for (i in c('dplyr','ggplot2')){
  if (!require(i, character.only=TRUE)) 
  install.packages(i, repos = "http://cran.us.r-project.org")
  require(i, character.only=TRUE)
}

### I/ b. Load xlsx

In [ ]:
readxl::read_excel("/Users/elinakelly/Documents/dad word cloud/survey responses.xlsx", 
                   sheet = "Top 3 issues")

### I/ c. Load csv

# II/ Modify the Dataframes

In [26]:
# Sample df
df <- data.frame(Animals = c('cat', 'dog'),
                Food = c('pizza', 'ramen'))
df

  Animals Food
1 cat     pizza
2 dog     ramen

### Add Index column

In [29]:
tibble::rowid_to_column(df, "Index_Col")

  Index_Col Animals Food
1 1         cat     pizza
2 2         dog     ramen

### Name / Rename Columns

In [23]:
colnames(df) <- c("animal_renamed", "food_renamed")
df

  animal_renamed food_renamed
1 cat            pizza
2 dog            ramen

### Rename Values

In [31]:
df %>% mutate(NEW_NAME = recode(Food, 
                                   'pizza' = 'PIZZA_R', 
                                   'ramen' = 'RAMEN_R'))

  Animals Food  NEW_NAME
1 cat     pizza PIZZA_R
2 dog     ramen RAMEN_R