# Julian <-> Normal Date ('14780' to '1940-06-18')

In [29]:
df <- data.frame(Julian = c(14780, 14501, 12146))

### Julian -> Normal Date

In [30]:
library(lubridate)

# Define the function
myfun <- function(x) as.POSIXct(x * (60*60*24),
                                origin = "1899-12-30",
                                tz = "GMT")

# Select the columns to apply the function
df['To_Date'] <- data.frame(lapply(df[c('Julian')], myfun))

# Display
df

  Julian To_Date
1 14780  1940-06-18
2 14501  1939-09-13
3 12146  1933-04-02

### Normal Date -> Julian

In [31]:
df['To_Julian'] <- julian(as.Date(df$To_Date), origin = as.Date('1899-12-30'))

# Display
df

  Julian To_Date    To_Julian
1 14780  1940-06-18 14780
2 14501  1939-09-13 14501
3 12146  1933-04-02 12146